@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./trainingplan.scss";
@font-face {
  font-family: "Bahnschrift";
  src: url("@/assets/fonts/BAHNSCHRIFT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$custom-blue: #00ccff;
$custom-blue-hover: #19b9e0;

@layer components {
  .bg-blue-custom {
    background-color: $custom-blue;
  }

  .bg-blue-custom-hover {
    background-color: $custom-blue-hover;
  }
}

.background-style {
  background-image: linear-gradient(rgba(0, 204, 255, 0.5),
      rgba(0, 204, 255, 0.5)),
    url("https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
}

.background-style2 {
  background-image: linear-gradient(rgba(0, 204, 255, 0.5),
      rgba(0, 204, 255, 0.5)),
    url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
}

.card-section-background {
  background-image: linear-gradient(rgba(0, 204, 255, 0.5),
      rgba(0, 204, 255, 0.5)),
    url("https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80");
  background-size: cover;
  background-position: center;
  height: 100%;
  box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.5);
}

.my-coach-div {
  font-family: "Bahnschrift";
  letter-spacing: -0.05em;
  word-spacing: -0.2em;
  transform: scaleY(1.1);

  span.blue {
    color: #00ccff;
  }

  span.white {
    color: white;
  }
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: $custom-blue;
}

.alice-carousel__next-btn:hover,
.alice-carousel__prev-btn:hover {
  cursor: pointer;
}

.alice-carousel__stage-item {
  width: 300px !important;
  margin-right: 32px;
  margin-left: 32px;
}

.policy {
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 60px;
  transform: translateY(50px);
}

.policy h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.policy strong {
  display: block;
  text-align: center;
  margin: 20px;
}

.policy h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.policy p {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.error {
  background-color: rgb(255, 52, 52);
  border-radius: 5px;
  padding: 3px;
  user-select: none;
  font-size: 18px;
}

.coachform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 15px;
  background-color: white;
  opacity: 0.9;
  border-radius: 5px;
}

.formwidget {
  width: 500px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  outline: none;
}

.formwidget:focus {
  background-color: rgb(255, 255, 228);
}

.flash-message {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  text-align: center;
}

.description-container {
  width: 100%;
  color: black;
  text-align: center;
  font-size: 20px;
  font-family: 'Bahnschrift', sans-serif;
}

.description-title {
  font-size: 6vh;
}

.description-text {
  margin: 1em 2%;
}

.description-highlight {
  margin-bottom: 1em;
}

.description-blue {
  color: #00ccff;
}

.description-image {
  width: 15vw;
  max-width: 500px;
  min-width: 200px;
  height: auto;
  margin: auto;
  display: block;
}

.description-text-small {
  margin: 0.5em 2%;
}

.description-call-to-action {
  margin: 1em 2% 2em 2%;
}

.popup-plan{
  position: fixed;
  margin: 0 auto;
  top: 20%;
  z-index: 999;
  width: 40%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(197, 197, 197);
  border-radius: 5px;
  animation: opening 0.8s forwards;
  text-align: center;
  padding: 10px;
}

.popup-plan-close{
  width: 30px;
  height: 30px;
  padding: 3px;
  float: right;
  cursor: pointer;
  border: 1px solid grey;
  background-color: rgb(250, 102, 76);
  color: white;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  line-height: 20px;
}

.popup-plan-close:hover{
  background-color: rgb(255, 38, 0);
}

@keyframes opening {
  0%{transform: scale(0); border-radius: 100%;}
  100%{transform: scale(1); border-radius: 5px;}
}

.button-add-cart{
  background-color: orange;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.button-add-cart:hover{
  background-color: rgb(253, 180, 43);
}

.cartcount {
  background-color: #00ccff;
  color: white;
  width: 0px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 50%;
}

.item-selection:hover{
  color: rgb(255, 153, 0);
  transform: scale(1.1);
}

.delete-from-cart{
  background-color: rgb(253, 63, 63);
  padding: 2px;
  border-radius: 5px;
  color: white;
  float: right;
  margin-left: 50px;
}

.delete-from-cart:hover{
  background-color: rgb(255, 0, 0);
}

.totalprice{
  background-color: rgb(207, 207, 207);
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px;
}

.buybutton{
  background-color: orange;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}

.buybutton:hover{
  background-color: rgb(255, 123, 0);
}